name: ZUNRDP Cloud
on:
  workflow_dispatch:
    inputs:
      machine_name:
        description: 'He Dieu Hanh'
        required: true
        default: 'Windows'
      owner_name:
        description: 'Ten tai khoan nguoi tao'
        required: true
        default: 'Admin'

jobs:
  deploy:
    runs-on: windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Tailscale
        run: |
          Invoke-WebRequest -Uri "https://pkgs.tailscale.com/stable/tailscale-setup-latest.exe" -OutFile "tailscale-setup.exe"
          Start-Process -FilePath ".\tailscale-setup.exe" -ArgumentList "/quiet" -Wait
          & "C:\Program Files\Tailscale\tailscale.exe" up --authkey ${{ secrets.TAILSCALE_AUTHKEY }}

      - name: Setup RDP
        run: |
          $Password = ConvertTo-SecureString "ZunRDP@123456" -AsPlainText -Force
          Set-LocalUser -Name "runneradmin" -Password $Password
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

      - name: Run Agent
        run: |
          $RandomID = "Zun-" + (Get-Random -Minimum 1000 -Maximum 9999)
          ./run_vm.ps1 -Owner "${{ github.event.inputs.owner_name }}" -MachineID $RandomID
          
